@-moz-document url(http://roosterteeth.com/members/),
               url(http://redvsblue.com/members/),
               url(http://achievementhunter.com/members/),
               url(http://roosterteethcomics.com/members/),
               url(http://strangerhood.com/members/),
               url(http://captaindynamic.com/members/),
               url(http://roosterteeth.com/members/index.php),
               url(http://redvsblue.com/members/index.php),
               url(http://achievementhunter.com/members/index.php),
               url(http://roosterteethcomics.com/members/index.php),
               url(http://strangerhood.com/members/index.php),
               url(http://captaindynamic.com/members/index.php) {

    #Awards:not(.shown) {
        display: none !important;
    }
    div[id="Recent Topics"]:not(.shown) {
        display: none !important;
    }
    div[id="Mod Summary"]:not(.shown)  {
        display: none !important;
    }
    #myAlerts:not(.shown)  {
           display: none !important;
    }
    div[id="Make a Journal Entry"]:not(.shown)  {
        display: none !important;
    }
    #Watching:not(.shown)  {
        display: none !important;
    }
    div[id="My Friends"]:not(.shown)  {
        display: none !important;
    }
    #Groups:not(.shown)  {
        display: none !important;
    }
    #Tournaments:not(.shown)  {
        display: none !important;
    }
    div[id="Store Wishlist"]:not(.shown)  {
        display: none !important;
    }
    /* Tagged */
    table.border > tbody > tr > td[style="padding: 10px;"] > table:not(.shown)  {
        display: none !important;
    }
    /* Avatar */
    td > table > tbody > tr> td > table > tbody > tr > td > p > iframe:not(.shown), 
    td > table > tbody > tr> td > table > tbody > tr > td > p > a:not(.shown) > img {
        display: none !important;
    }
    /* Images */
    table > tbody > tr > td:first-child > table > tbody > tr:first-child > td > table.border > tbody > tr:first-child > td > a:not(.shown) {
        display: none !important;
    }
    /* Breakdown */
    table.hlines:not(.shown) tr:not(:first-child) {
        display: none !important;
    }
}
/* "breakdown" */
