@-moz-document url(http://roosterteeth.com/members/),
               url(http://redvsblue.com/members/),
               url(http://achievementhunter.com/members/),
               url(http://roosterteethcomics.com/members/),
               url(http://strangerhood.com/members/),
               url(http://roosterteeth.com/members/index.php),
               url(http://redvsblue.com/members/index.php),
               url(http://achievementhunter.com/members/index.php),
               url(http://roosterteethcomics.com/members/index.php),
               url(http://strangerhood.com/members/index.php) {

    #Awards:not(.shown) {
        display: none !important;
    }
    div[id="Recent Topics"]:not(.shown) {
        display: none !important;
    }
    div[id="Mod Summary"]:not(.shown)  {
        display: none !important;
    }
    #myAlerts:not(.shown)  {
        /* Disable until "show/hide" button can be inserted
           display: none !important; */
    }
    div[id="Make a Journal Entry"]:not(.shown)  {
        display: none !important;
    }
    #Watching:not(.shown)  {
        display: none !important;
    }
    div[id="My Friends"]:not(.shown)  {
        display: none !important;
    }
    #Groups:not(.shown)  {
        display: none !important;
    }
    #Tournaments:not(.shown)  {
        display: none !important;
    }
}
/* "images", "breakdown", "tagged", "avatar", */
