@-moz-document domain("roosterteeth.com"),
               domain("redvsblue.com"),
               domain("achievementhunter.com"),
               domain("roosterteethcomics.com"),
               domain("strangerhood.com") {
  td.headerAd {
    display:none !important;
  }
  #headerImage {
    height: 120px !important;
  }
  #floatingNavDiv:not(.adjusted){
    top: 120px !important;
  }
}
