@-moz-document domain("roosterteeth.com"),
               domain("redvsblue.com"),
               domain("achievementhunter.com"),
               domain("roosterteethcomics.com"),
               domain("strangerhood.com") {
  h2 + b + i + u + del + blockquote[style="border: 1px solid rgb(204, 204, 204); padding: 4px; background-color: rgb(241, 241, 241);"] {
    display:none;
  }

  .header a.small > b {
    cursor:pointer;
  }
  
  #barLight img[src="http://images.roosterteeth.com/assets/style/flashy/bits/navArrow.png"]  {
    display: none;
  }
}
