@-moz-document domain("roosterteeth.com"),
               domain("redvsblue.com"),
               domain("achievementhunter.com"),
               domain("roosterteethcomics.com"),
               domain("strangerhood.com"),
               domain("captaindynamic.com") {
  td.sideItem>center {
    display:none !important;
  }
  #headerImage {
    height: 155px !important;
  }
  #floatingNavDiv:not(.adjusted){
    top: 155px !important;
  }
}
