@-moz-document domain("roosterteeth.com"),
               domain("redvsblue.com"),
               domain("achievementhunter.com"),
               domain("roosterteethcomics.com"),
               domain("strangerhood.com"),
               domain("captaindynamic.com") {
  h2 + b + i + u + del + blockquote[style="border: 1px solid rgb(204, 204, 204); padding: 4px; background-color: rgb(241, 241, 241);"] {
    display:none;
  }

  .header a.small > b {
    cursor:pointer;
  }
  
  #barLight .navbutton img:not(#barLogo)  {
    display: none;
  }

  td[class="content topContent"] div[align="center"] > div#Watching > table {
    background: none !important;
    border: 0 none !important;
  }

  div#Forum > table > tbody > tr > td > table > tbody > tr > td[colspan="2"] > table[class="border boxBorder"], 
  div[id="Group Forum"] > table > tbody > tr > td > table > tbody > tr > td[colspan="2"] > table[class="border boxBorder"]{
    background: none !important;
    border: 0 none !important;
  }
}
