@-moz-document domain("roosterteeth.com"),
               domain("redvsblue.com"),
               domain("achievementhunter.com"),
               domain("roosterteethcomics.com"),
               domain("strangerhood.com"),
               domain("captaindynamic.com") {

  /* teehee */
  .commentPost span[style="background-color: rgb(221, 221, 221); color: rgb(221, 221, 221);"] {
    text-decoration: blink;
    font-weight: bold;
    color: red !important;
  }
}
