.paneSelector {
  list-style-image:url("chrome://rtse/content/options/options.png");
  padding:0 5px;
  margin:0;
}

.paneSelector radio {
  -moz-appearance: none !important;
}

radio[pane=auth] {
  -moz-image-region:rect(0px, 32px, 32px, 0px)
}
radio[pane=prefs] {
  -moz-image-region:rect(0px, 64px, 32px, 32px)
}
radio[pane=extensions] {
  -moz-image-region:rect(0px, 96px, 32px, 64px)
}
radio[pane=forumJump] {
  -moz-image-region:rect(0px, 128px, 32px, 96px)
}
