@-moz-document 
   url-prefix("http://roosterteeth.com/members/"),
   url-prefix("http://roosterteethcomics.com/members/"),
   url-prefix("http://redvsblue.com/members/"),
   url-prefix("http://strangerhood.com/members/"),
   url-prefix("http://achievementhunter.com/members/"),
   url-prefix("http://magic.roosterteeth.com/members/"),
   url-prefix("http://panics.roosterteeth.com/members/"),
   url-prefix("http://m.roosterteeth.com/members/"),
   url-prefix("http://myspace.roosterteeth.com/members/"),
   url-prefix("http://captaindynamic.com/members/")
{
  #profileLeftBar {
    display:none!important;
  }
  
  #profileRightBar {
    width:915px!important;
  }
  
  #profileRBHolder {
    width:895px!important;
  }
  
  #river, #profileAjaxContent, #profileRightContainer, #imageGalleryHolder,
  #profileImageUplaodImageBox, #profileImageUploadImageBox
   #heroSection0  {
    width: 100%!important;
  }
  
  #heroPaging {
    width: 895px!important;
  }
}