@-moz-document domain("roosterteeth.com"),
               domain("redvsblue.com"),
               domain("achievementhunter.com"),
               domain("roosterteethcomics.com"),
               domain("strangerhood.com"),
               domain("captaindynamic.com") {

  div.forumHeaderAlerts a[href^="/groups/forum/viewTopic.php"] {
    color: blue !important;
  }
  
  div.forumHeaderAlerts a[href^="/forum/viewTopic.php"] {
    color: orange !important;
  }
  
  div.forumHeaderAlerts a[href^="/members/comments"] {
    color: green !important;
  }
}
